<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>

  </head>

  <body>
    <h1>WELCOME<br>TO<br>WIKI <i class="fas fa-map-marked-alt"></i> MAPS</h1>
    <div id="nav-buttons">

      <span class="view-maps"><i class="fas fa-map-marker-alt"></i> View Maps <i class="fas fa-map-marker-alt"></i></span>
      <span class="login-button"><i class="fas fa-map-marker-alt"></i> Login <i class="fas fa-map-marker-alt"></i></span>

      <form class="login-form" action="/users/login" method="POST">
        <input id="email" type="email" name="email" placeholder="e-mail@email.com" style="width: 300px">
        <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
        <input type="submit" value="Sign In">
      </form>

    </div>






  </body>
</html>
