<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <nav id="nav-bar">
        <span class="header">Wiki Map</span>
        <button class="logout" type="button">LOGOUT</button>
        <button class="new-map" type="button">NEW MAP</button>
      </nav>
    </header>

    <main>
      <section class="list">
        <span class="title">Best places to eat downtown Montreal!</span>
        <span class="description">
          Here's a map of my favorite joints to grab a bite downtown.
        </span>
      </section>

      <section class="list">
        <span class="title">Best places to eat downtown Toronto!</span>
        <span class="description">Here's a map of my favorite joints to grab a bite downtown.</span>
      </section>

      <section class="list">
        <span class="title">Coffee ipsum</span>
        <span class="description">Milk cream, viennese mug, rich beans body ut macchiato shop. Dark, chicory so organic java skinny roast. Percolator strong, cup cortado aroma fair trade acerbic viennese variety percolator kopi-luwak. Sweet, cappuccino robust percolator shop plunger pot aftertaste beans trifecta skinny. Carajillo coffee lungo whipped est robusta aged.</span>
      </section>

    </main>
  </body>
</html>
