<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map-list-layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <header>
      <nav id="nav-bar">
        <span class="header">Wiki Map</span>
        <div class="logout">
          <button type="button">LOGOUT</button>
        </div>
        <div class="new-map">
          <button type="button">NEW MAP</button>
        </div>
      </nav>
    </header>

    <main>
      <% for(var i = 0; i < maps.length; i++) { %>
        <a href="/maps/<%= maps[i].id %>">
      <section class="list">
        <span class="title"><%= maps[i].name %></span>
        <span class="description">
          <%= maps[i].description%></a>
        </span>
      </section>
    </a>
      <% } %>
  
    </main>
  </body>
</html>