@import 'variables';

body {
  header {
    font-family: $headerFontStack;
  }

  main {
    div {
      ul {
        li {
          margin: 1em 0;
          width: 300px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    main {
      div {
        ul {
          li {
            width: 600px;
          }
        }
      }
    }
  }
}
