@import 'variables';

body {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;


  header {
    align-self: center;

    h1 {
      font-size: 2em;
      font-family: $headerFontStack;
    }
  }

  main {
    margin: 0 20%;

    #new-map {
      display: flex;
      flex-direction: column;

      #mapid {
        margin: auto;
        height: 600px;
        width: 100%;
      }
    }
  }
}
