@import 'variables';

body {
  header {
    font-family: $headerFontStack;
    text-align: center;
  }


  #map-info {
    margin: 2em 0;
    ul {
      li {
        width: 600px;
        .title {
          border-bottom: solid 1px;
        }
      }
    }
  }

  footer {
    margin-bottom: 1em;
  }
  #edit-map {
    input {
      width: 100%;
    }
  }

  #favorite-frm {
    input {
      width: 100%;
    }
  }

  #mapid {
    margin: 2em auto;
    height: 600px;
    width: 800px;
    z-index: 1;
  }

  #favorite-confirm {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }


}

