body {
  background-color: #EEE;
  display: flex;
  flex-direction: column;

  #nav-bar {
    display:flex;
    flex-direction: row;
    justify-content: center;

    h1 {
      order: 1;
      font-size: 2em;
    }

    .map-list {
      order: 0;
      align-self: center;
      margin-right: 2em;
    }

    .edit {
      order: 2;
      align-self: center;
      margin-left: 2em;
    }

  }

  .map {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #mapid {
    margin: auto;
    height: 600px;
    width: 800px;
    z-index: 1;
  }

}
