@import 'variables';

body {
  header {
    font-family: $headerFontStack;
    text-align: center;
  }


  div {
    margin: 2em 0;
    ul {
      li {
        width: 600px;
        .title {
          border-bottom: solid 1px;
        }
      }
    }
  }

  #mapid {
    margin: 2em auto;
    height: 600px;
    width: 800px;
    z-index: 1;
  }

  #favorite-frm {
    margin-left: auto;
    margin-right: auto;
  }

}

