@import 'variables';

body {
  header {
    font-family: $headerFontStack;
  }
  #favorite-list {
    .list-group-item {
      .title {
        color: black;
        border-bottom: solid 1px black;
      }
      .description {
        color: black
      }
    }
  }
  #contribution-list {
    .list-group-item {
      .title {
        color: black;
        border-bottom: solid 1px black;
      }
      .description {
        color: black
      }
    }
  }
}
